.wrapper {
    min-height: 100vh;
    border-bottom: 1px solid white;
    scroll-margin: 32px;


}

input, textarea {
    background: none;
    resize: none;
    margin-bottom: 16px;
}

textarea {
    height: 200px;
    color: white;

    &:focus {
        box-shadow: none;
        background: none;
        color: white;
    }
}

input {
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    transition: all 250ms ease-in-out;
    color: white;

    &:focus {

        box-shadow: none;
        background: none;
        color: white;
    }
}

button {
    width: fit-content !important;
    margin: 0 auto !important;
    align-self: center !important;
    margin-bottom: 16px; 
}

.infotext {
    width: fit-content;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;

    a {
        text-decoration: none;
        color: #2DFCD8;
        transition: all 200ms ease;
        // word-break: break-all;

        &:hover {
            opacity: 0.8;
        }
    }
}

.submit {
    background-color: #FA2759 !important;
}