.hero-container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    padding-left: 8px;
    padding-right: 8px;



    p {
        font-size: 4em;
        font-weight: 550;
        letter-spacing: -1px;
        padding-top: 80px;

        span {
            color: #FA2759;
        }

        i {
            font-style: normal;
            color: #2DFCD8;
        }
    }

    button {
        background-color: black;
        color: #2DFCD8;
        font-family: 'inter', sans-serif;
        border: 1px solid #2DFCD8;
        padding: 20px 60px 20px 60px;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 16px;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        position: relative;
        border-radius: 6px;

        .dots {
            position: absolute;

        }

        &:hover {
            background-color: #2DFCD8;
            color: black;
            outline: none;
        }
    }
    }






// animated arrow 
.arrow{
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #2DFCD8;
    border-right: 2px solid #2DFCD8;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
