/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: black;
    color: white !important;
    font-family: 'Inter', sans-serif !important;
    transition: All 200ms ease-in-out;
    scroll-behavior: smooth;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,14,32,1) 100%, rgba(0,212,255,1) 100%);
}

h1 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 70px;
}

button {
    font-family: 'Inter', sans-serif;
}@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', sans-serif !important;; }
